/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 2px solid #fff;
}


/* Customize container */
@media (min-width: 800px) {
  .container {
    max-width: 1200px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron { 
  background-size: 100% 200%;
  text-align: center;
}

.jumbotron h1
{
	color: #ddd;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption h1
{
	color: #fff;
}

.lead
{
	margin-left: 150px;
	margin-right: 150px;
	border-radius: 50px;
   background: #fff;
   color: #120ab8;
}

/* Supporting content */
.details {
  margin: 40px 0;
}
.details p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .details,
  .footer {
    padding-right: 0;
    padding-left: 20;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
